services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: servemate-service
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
    restart: always
    networks:
      - servemate-network

networks:
  servemate-network:
    driver: bridge
